body{
    font-family: 'Arial', serif;
    background-color: #F0E68C;  }

    p {
    font-family: 'Arial';
    color: #00BFFF;
    font-size: 32px;
    font-weight: bold;
    }



.note {
font-size: 26px;
font-weight: normal;
color: black;
}

a {
    text-decoration: none; }
  a:link {
    color: #8B008B;  }
  a:visited {
    color: #8B008B; }
  a:active {
      color:#c0a97a; }

header {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);}
.Shop{
    text-decoration-line: underline; }
